<div class="margin-div">
    <section class="edit-profile-img">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="profile-header-details">
                        <a href="#">
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="profile-header-details">
                        <a href="#">
                            <p>Change Password</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>  
    </section>
      <section class="edit-img-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="upload-img-profile">
                        <div class="small-12 medium-2 large-2 columns" id="firstImage">
                            <div class="circle">
                              <img class="profile-pic" src="assets/images/avatar.png">

                            </div>
                            <div class="p-image">
                              <i class="fa fa-pencil upload-button" aria-hidden="true"></i>
                              <input class="file-upload" type="file" accept="image/*" />
                            </div>
                          </div>

                          <div class="small-12 medium-2 large-2 columns" id="secondImage">
                            <div class="circle">
                              <img class="profile-pic" src="assets/images/avatar.png">

                            </div>
                            <div class="p-image">
                              <i class="fa fa-pencil upload-button" aria-hidden="true"></i>
                              <input class="file-upload" type="file" accept="image/*" />
                                <p>@insaneRB</p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
          </div>
      </section>
      <section class="edit-form-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="edit-form">
                        <form>
                          <div class="form-group">
                            <label class="edit-label" for="">Name</label>
                            <input type="text" class="form-control" id="textname" aria-describedby="emailHelp">
                          </div>
                          <div class="form-group">
                            <label class="edit-label" for="">Email</label>
                            <input type="email" class="form-control" id="email-text" aria-describedby="emailHelp">
                          </div>
                          <div class="form-row">
                                <div class="form-group col-3">
                                  <label class="edit-label"  for="code-text">Code</label>
                                  <select id="inputState" class="form-control">
                                    <option selected>+91</option>
                                    <option>1</option>
                                    <option>2</option>
                                  </select>
                                </div>
                                <div class="form-group col-9">
                                  <label class="edit-label" for="">Phone Number</label>
                                  <input type="phone" class="form-control" id="phone-text" aria-describedby="emailHelp">
                                </div>
                              </div>
                            <div class="form-group">
                                <label class="edit-label" for="">Gender</label>
                                <select id="inputState" class="form-control">
                                    <option selected>Male</option>
                                    <option>Male</option>
                                    <option>Female</option>
                                  </select>
                          </div>
                            <div class="submit-div">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="submit" class="btn btn-close"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
      </section>
  </div>
  <div class="mobile_footer">
    <div id="p1"><a href="#"><img src="/assets/images/footer-home.png" class="img-fluid" style="width: 30%;"></a></div> 
    <div id="p2"><a href="#"><img src="/assets/images/foot-2-img.png" style="width: 30%;"></a></div>
    <div id="p3"><a href="#"><img src="/assets/images/foot-3-img.png" style="width: 50%;"></a></div>
    <div id="p4"><a href="#"><img src="/assets/images/foot-4-img.png" style="width: 30%;"></a></div> 
    <div id="p5">
            <span style="cursor:pointer" onclick="openNav()"><img src="/assets/images/foot-5-img.png" style="width: 30%;"></span>
            
            <div id="mySidenav" class="sidenav">
                <div class="menu-div">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#useful-links">Useful Links</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#services">Services</a>
                </li>
              </ul>
  
              <!-- Tab panes -->
              <div class="tab-content">
                <div id="useful-links" class="container tab-pane active"><br>
                  <ul class="menu-ul">
                    <li>
                        <a href="#"><img src="/assets/images/notification-icon.png">Notifications</a>
                    </li>  
                    <li>
                        <a href="#"><img src="/assets/images/about-company-icon.png">About Company</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/blog-icon.png">Blog</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/stories-icon.png">Stories</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/review-icon.png">Reviews</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/faq-icon.png">FAQ</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/support-icon.png">Support Center</a>
                    </li>
                  </ul>
                    <div class="user-round">
                        <div class="row">
                            <div class="col-3">
                                <div class="user-round-img">
                                    <img src="/assets/images/avatar.png" class="img-fluid"> 
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="user-round-text">
                                    <h2>Rakesh Maria<span>9812345678</span><span>pkg@gmail.com</span></h2>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="user-round-toggle">
                                    <a href="profile.html">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="close-div">
                        <button type="submit" class="btn btn-close" onclick="closeNav()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div id="services" class="container tab-pane fade"><br>
                  <ul class="menu-ul">
                    <li>
                        <a href="#"><img src="/assets/images/exchange-icon.png">Exchange</a>
                    </li>  
                    <li>
                        <a href="#"><img src="/assets/images/nft-icon.png">NFT ART</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/multiplex-icon.png">Multiplex</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/ott-icon.png">OTT</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/newsdesk-icon.png">Newsdesk</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/street-icon.png">Street</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/newocln-icon.png">Newoclan</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/hastag-icon.png">Hastag</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/games.png">Games</a>
                    </li>
                  </ul>
                    <div class="user-round">
                        <div class="row">
                            <div class="col-3">
                                <div class="user-round-img">
                                    <img src="/assets/images/avatar.png" class="img-fluid"> 
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="user-round-text">
                                    <h2>Rakesh Maria<span>9812345678</span><span>pkg@gmail.com</span></h2>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="user-round-toggle">
                                    <a href="profile.html">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="close-div">
                        <button type="submit" class="btn btn-close" onclick="closeNav()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div> 
  </div>