<div class="margin-div">
    <section class="edit-profile-img">
      <div class="container">
          <div class="row">
              <div class="col-6">
                  <div class="profile-header-details">
                      <a href="#">
                          <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                      </a>
                      <span>Gallery</span>
                  </div>
              </div>
          </div>
      </div>  
  </section>
    <section class="gallery">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="gallery-img">
                      <img src="assets/images/gal_img1.jpeg" class="img-fluid">
                  </div>
              </div>
          </div> 
          <div class="row">
              <div class="col-4">
                  <div class="gallery-img">
                      <img src="assets/images/gal_img2.jpeg" class="img-fluid">
                  </div>
              </div>
              <div class="col-4">
                  <div class="gallery-img">
                      <img src="assets/images/gal_img3.jpeg" class="img-fluid">
                  </div>
              </div>
              <div class="col-4">
                  <div class="gallery-img">
                      <img src="assets/images/gal_img4.jpeg" class="img-fluid">
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-4">
                  <div class="gallery-img">
                      <img src="assets/images/gal_img5.jpeg" class="img-fluid">
                  </div>
              </div>
              <div class="col-4">
                  <div class="gallery-img">
                      <img src="assets/images/gal_img6.jpeg" class="img-fluid">
                  </div>
              </div>
              <div class="col-4">
                  <div class="gallery-img">
                      <img src="assets/images/gal_img7.jpeg" class="img-fluid">
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-12">
                  <div class="gallery-img">
                      <img src="assets/images/gal_img1.jpeg" class="img-fluid">
                  </div>
              </div>
          </div> 
      </div>
    </section>
</div>
<app-welcomefooter></app-welcomefooter>