<div class="margin-div">
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <div class="newo-img">
                        <img src="assets/images/logo.png" class="img-fluid">
                    </div>
                </div>
                <div class="offset-6 col-2 text-center">
                    <div class="round-img">
                        <img src="assets/images/face-round.png" class="img-fluid"> 
                    </div>
                </div>
            </div>
        </div>  
    </section>
    <section class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="img-logo-div">
                        <div class="wl-cm">
                            <img src="assets/images/yel-arrow.png" class="img-fluid">
                            <h2>WELCOME <span>TO</span> <span>THE</span></h2>
                            <img src="assets/images/smart-text.png" class="img-fluid smrt">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="newo-join">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div>
                        <img src="assets/images/newo-cln.png" class="img-fluid">
                    </div>
                </div>
                <div class="col-6">
                    <div class="join-div">
                        <a href="#">Join Now</a>
                    </div>
                </div>
            </div>
        </div>  
    </section>
    <section class="ml-sl">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <owl-carousel-o [options]="customOptionsforNew" class="sl-im-pd">
                            <ng-template carouselSlide>
                                <div class="sl-img">
                                    <div class="sl-img-sm">
                                        <img src="/assets/images/sl-1.png" class="img-fluid">
                                    </div>
                                    <div class="round-sl">
                                        <img src="/assets/images/popcorn.png" class="img-fluid">
                                    </div>
                                    <div class="bottom-img">
                                        <img src="/assets/images/multiplex-bx.png" class="img-fluid">
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="sl-img">
                                    <div class="sl-img-sm">
                                        <img src="assets/images/sl-2.png" class="img-fluid">
                                    </div>
                                    <div class="round-sl">
                                        <img src="assets/images/sl-icon-2.png" class="img-fluid">
                                    </div>
                                    <div class="bottom-img">
                                        <img src="assets/images/multiplex-bx.png" class="img-fluid">
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="sl-img">
                                    <div class="sl-img-sm">
                                        <img src="assets/images/sl-3.png" class="img-fluid">
                                    </div>
                                    <div class="round-sl">
                                        <img src="assets/images/sl-icon-3.png" class="img-fluid">
                                    </div>
                                    <div class="bottom-img">
                                        <img src="assets/images/multiplex-bx.png" class="img-fluid">
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="sl-img">
                                    <div class="sl-img-sm">
                                        <img src="assets/images/sl-4.png" class="img-fluid">
                                    </div>
                                    <div class="round-sl">
                                        <img src="assets/images/sl-icon-4.png" class="img-fluid">
                                    </div>
                                    <div class="bottom-img">
                                        <img src="assets/images/multiplex-bx.png" class="img-fluid">
                                    </div>
                                </div>
                            </ng-template>
                        </owl-carousel-o>
                </div>
            </div>
        </div>  
    </section>
      <section class="grd-background">
          <div class="container-fluid">
              <div class="row">
                 <div class="col-md-12 p-0">
                    <img src="assets/images/gra-img.png" class="img-fluid">
                  </div>   
              </div>
          </div>
      </section>
      <section class="smart-div">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="assets/images/dev-newo-app-img.png" class="img-fluid">
                </div>
              </div>
          </div>
      </section>
      <section class="celibraty-div">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <!-- <div class="owl-carousel owl-theme" id="celb">
                        <div class="item">
                            <a href="#">
                                <div class="celibraty-main-div">
                                    <div class="celb-img">
                                        <img src="assets/images/cricketer.jpg" class="img-fluid clb-img-sm">
                                        <div class="youtube-icon">
                                            <img src="assets/images/youtube-icon.png" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="celibraty-main-div">
                                <div class="celb-img">
                                    <img src="assets/images/lara.jpg" class="img-fluid clb-img-sm">
                                    <div class="youtube-icon">
                                        <img src="assets/images/youtube-icon.png" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="celibraty-main-div">
                                <div class="celb-img">
                                    <img src="assets/images/sidh.jpg" class="img-fluid clb-img-sm">
                                    <div class="youtube-icon">
                                        <img src="assets/images/youtube-icon.png" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <div class="celibraty-main-div">
                                    <div class="celb-img">
                                        <img src="assets/images/cricketer.jpg" class="img-fluid clb-img-sm">
                                        <div class="youtube-icon">
                                            <img src="assets/images/youtube-icon.png" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div> -->
                </div>
            </div>
          </div>
      </section>
      <section class="net_ott">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img src="assets/images/ott-bg-sm.png" class="img-fluid">
                </div>
            </div>  
        </div>
      </section>
      <section class="round-st-box-section">
          <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="#">
                        <div class="round-st-bx">
                            <div class="row round-md-row">
                                <div class="col-4">
                                    <div class="net-st">
                                        <img src="assets/images/net-star.png" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-3 text-right"> 
                                    <img src="assets/images/round-sl-1.png" class="img-fluid">
                                </div>
                                <div class="col-1">
                                    <div class="brd-border"></div>
                                </div>
                                <div class="col-2">
                                    <div class="arrow-wt">
                                        <img src="assets/images/arrow.png" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="round-st-bx">
                            <div class="row round-md-row">
                                <div class="col-4">
                                    <div class="net-st">
                                        <img src="assets/images/n-hastag.png" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-3 text-right"> 
                                    <img src="assets/images/round-sl-2.png" class="img-fluid">
                                </div>
                                <div class="col-1">
                                    <div class="brd-border"></div>
                                </div>
                                <div class="col-2">
                                    <div class="arrow-wt">
                                        <img src="assets/images/arrow.png" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="round-st-bx">
                            <div class="row round-md-row">
                                <div class="col-4">
                                    <div class="net-st">
                                        <img src="assets/images/n-games.png" class="img-fluid">
                                    </div>
                                </div>
                                <div class="col-2"></div>
                                <div class="col-3 text-right"> 
                                    <img src="assets/images/round-sl-3.png" class="img-fluid">
                                </div>
                                <div class="col-1">
                                    <div class="brd-border"></div>
                                </div>
                                <div class="col-2">
                                    <div class="arrow-wt">
                                        <img src="assets/images/arrow.png" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
              </div>
          </div>
      </section>
      <section class="newo-inside">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="newo-in-h1">
                        <img src="assets/images/newo-lg.png" class="img-fluid"><span>INSIDES</span><span class="art_btn_sm"><img src="assets/images/ar-btn.png" class="img-fluid"></span>
                    </div>
                </div>
            </div>
                <div class="inside_div">
                    <div class="owl-carousel owl-theme" id="inside_id">
                        <div class="item">
                            <div class="it_owl">
                                <img src="assets/images/newo-ins-1.png" class="img-fluid">
                            </div>
                        </div>
                        <div class="item">
                            <div class="it_owl">
                                <img src="assets/images/newo-ins-2.png" class="img-fluid">
                            </div>
                        </div>
                        <div class="item">
                            <div class="it_owl">
                                <img src="assets/images/newo-ins-1.png" class="img-fluid">
                            </div>
                        </div>
                        <div class="item">
                            <div class="it_owl">
                                <img src="assets/images/newo-ins-2.png" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </section>
      <section class="btc-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="round-bts-sm">
                        <div class="row pb-3">
                            <div class="col-2">
                                <div class="round-bts">
                                    <img src="assets/images/btsw-img.png" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="bitcoin-div">
                                    Bitcoin<span> BTC</span>
                                    <span class="bitcount-sm">$56,107</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <p class="bitcount">+5.22%</p>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-2">
                                <div class="round-bts bl-bts">
                                    <img src="assets/images/btsw-img2.png" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="bitcoin-div">
                                    Ethereum<span> ETH</span>
                                    <span class="bitcount-sm">$1,820</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <p class="bitcount cl-red">-4.55%</p>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-2">
                                <div class="round-bts bl-bts">
                                    <img src="assets/images/btsw-img3.png" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="bitcoin-div">
                                    Tron<span> TRN</span>
                                    <span class="bitcount-sm">$2.5095</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <p class="bitcount">+2.72%</p>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-2">
                                <div class="round-bts bl-bts">
                                    <img src="assets/images/btsw-img4.png" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="bitcoin-div">
                                    Tether<span> USDT</span>
                                    <span class="bitcount-sm">$1.002</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <p class="bitcount">+1.02%</p>
                            </div>
                        </div>
                        <div class="row pb-3">
                            <div class="col-2">
                                <div class="round-bts">
                                    <img src="assets/images/btsw-img5.png" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="bitcoin-div">
                                    Dogecoin<span> DOGE</span>
                                    <span class="bitcount-sm">$0.09238</span>
                                </div>
                            </div>
                            <div class="col-4">
                                <p class="bitcount">+12.09%</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="exchange-sm">
                        <img src="assets/images/newo-exchange.png" class="img-fluid"> 
                    </div>
                </div>
            </div>
          </div>
      </section>
          </div>