<div class="margin-div">
    <section class="edit-profile-img">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="profile-header-details">
                        <a href="#">
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>  
    </section>
      <section class="otp-img-section">
        <div class="container">
            <div class="row">
                <div class="otm-img-div">
                    <img src="assets/images/otp.png" class="img-fluid">
                    <p>We sent a 6-digit OTP to 98**** **876</p>
                </div>
            </div>
          </div>
      </section>
      <section class="otp-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="edit-form"> 
                        <form>
                          <div class="form-group frm-input">
                            <label class="edit-label" for="">OTP</label>
                            <input type="password" class="form-control" name="password" autocomplete="current-password" required="" id="id_password">
                              <div class="resend-div">
                                <a href="#">Resend</a>
                              </div>
                              
                          </div>
                            <div class="submit-div">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="submit" class="btn btn-close"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>  
                        </form>
                    </div>
                </div>
            </div>
          </div>
      </section>
      <section class="second-counter">
        <p>Second Left<span>25</span></p>
      </section>
  </div>
  <app-welcomefooter></app-welcomefooter>
