<div class="margin-div">
    <section class="edit-profile-img">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="profile-header-details">
                        <a href="#">
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>  
    </section>
      <section class="password-change-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="edit-form"> 
                        <form>
                          <div class="form-group frm-input">
                            <label class="edit-label" for="">Old Password</label>
                              <input type="password" class="form-control" name="password" autocomplete="current-password" required="" id="id_password">
                              <i class="fa fa-eye" aria-hidden="true" id="togglePassword" style="cursor: pointer;"></i>
                          </div>
                          <div class="form-group frm-input">
                            <label class="edit-label" for="">New Password</label>
                              <input type="password" class="form-control" name="newpassword" autocomplete="current-password" required="" id="id_password2">
                              <i class="fa fa-eye" aria-hidden="true" id="togglePassword2" style="cursor: pointer;"></i>
                              <h2>Password must</h2>
                              <ul>
                                <li>Be between 8 and 64 characters</li>
                                  <li>Include at last two of the following
                                    <ul>
                                        <li>An uppercase character</li>
                                        <li>A number</li>
                                        <li>A special character</li>
                                      </ul>
                                  </li>
                              </ul>
                          </div>
                            <div class="form-group frm-input">
                            <label class="edit-label" for="">Confirm</label>
                              <input type="password" class="form-control" name="password" autocomplete="current-password" required="" id="id_password3">
                              <i class="fa fa-eye" aria-hidden="true" id="togglePassword3" style="cursor: pointer;"></i>
                          </div>
                            <div class="submit-div">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="submit" class="btn btn-close"><i class="fa fa-times" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
          </div>
      </section>
  </div>
  <app-welcomefooter></app-welcomefooter>
