<div class="margin-div">
    <section class="edit-profile-img pay-now">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="profile-header-details">
                        <a href="#">
                            <i class="fa fa-long-arrow-left" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <div class="header-clm-img">
                        <img src="/assets/images/newo-cln.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>  
    </section>
      <section class="pay-now-bg">
        <div class="container">
            <div class="row">
                <div class="col-12 pr-0">
                    <div class="pay-bg-img">
                        <img src="/assets/images/pay-now-img.png" class="img-fluid">
                        <div class="pay-bg-overlay-text">
                            <h2>GATEWAY TO<img src="/assets/images/smart-text.png" class="img-fluid"></h2>
                        </div>
                        
                    </div>
                </div>
                <div class="col-12">
                    <div class="subscrip-pay">
                        <div class="row">
                            <div class="col-8">
                                <div class="sub-text">
                                    <h3>The only subscription<span>YOU REALLY NEED!</span></h3>
                                </div>
                            </div>
                            <div class="col-4 p-0">
                                <div class="sub-count">
                                    <p>₹ 1999</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
      </section>
      <section class="one-time-payment">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="one-time-text">
                        <p>A one time payment that will unlock array of amenities<span> for a lifetime.</span></p>
                        <h6>Renewed with NewoCoins worth of ₹ 500 every Year.</h6>
                    </div>
                </div>
            </div>
            <div class="row pt-3 pb-3">
                <div class="col-4">
                    <div class="pay-coin">
                        <img src="/assets/images/pay-coin.png" class="img-fluid">
                    </div>
                </div>
                <div class="col-8">
                    <div class="pay-coin-text">
                        <p>Yearly renewal can be made through the accumulation of the 	NewoCoins earned through your activity inside Newo Clan.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="pay-div">
                        <button type="submit" class="btn btn-primary">PAY NOW</button>  
                    </div> 
                    <div class="pay-bottom-text">
                        <p>This in APP payment process is totally safe and all your payment related data is secured with your bank only. </p>
                    </div>
                </div>
            </div>
          </div>
      </section>
  </div>
  <div class="mobile_footer">
    <div id="p1"><a href="#"><img src="/assets/images/footer-home.png" class="img-fluid" style="width: 30%;"></a></div> 
    <div id="p2"><a href="#"><img src="/assets/images/foot-2-img.png" style="width: 30%;"></a></div>
    <div id="p3"><a href="#"><img src="/assets/images/foot-3-img.png" style="width: 50%;"></a></div>
    <div id="p4"><a href="#"><img src="/assets/images/foot-4-img.png" style="width: 30%;"></a></div> 
    <div id="p5">
            <span style="cursor:pointer" onclick="openNav()"><img src="/assets/images/foot-5-img.png" style="width: 30%;"></span>
            
            <div id="mySidenav" class="sidenav">
                <div class="menu-div">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#useful-links">Useful Links</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" data-toggle="tab" href="#services">Services</a>
                </li>
              </ul>
  
              <!-- Tab panes -->
              <div class="tab-content">
                <div id="useful-links" class="container tab-pane active"><br>
                  <ul class="menu-ul">
                    <li>
                        <a href="#"><img src="/assets/images/notification-icon.png">Notifications</a>
                    </li>  
                    <li>
                        <a href="#"><img src="/assets/images/about-company-icon.png">About Company</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/blog-icon.png">Blog</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/stories-icon.png">Stories</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/review-icon.png">Reviews</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/faq-icon.png">FAQ</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/support-icon.png">Support Center</a>
                    </li>
                  </ul>
                    <div class="user-round">
                        <div class="row">
                            <div class="col-3">
                                <div class="user-round-img">
                                    <img src="/assets/images/avatar.png" class="img-fluid"> 
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="user-round-text">
                                    <h2>Rakesh Maria<span>9812345678</span><span>pkg@gmail.com</span></h2>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="user-round-toggle">
                                    <a href="profile.html">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="close-div">
                        <button type="submit" class="btn btn-close" onclick="closeNav()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div id="services" class="container tab-pane fade"><br>
                  <ul class="menu-ul">
                    <li>
                        <a href="#"><img src="/assets/images/exchange-icon.png">Exchange</a>
                    </li>  
                    <li>
                        <a href="#"><img src="/assets/images/nft-icon.png">NFT ART</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/multiplex-icon.png">Multiplex</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/ott-icon.png">OTT</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/newsdesk-icon.png">Newsdesk</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/street-icon.png">Street</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/newocln-icon.png">Newoclan</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/hastag-icon.png">Hastag</a>
                    </li>
                      <li>
                        <a href="#"><img src="/assets/images/games.png">Games</a>
                    </li>
                  </ul>
                    <div class="user-round">
                        <div class="row">
                            <div class="col-3">
                                <div class="user-round-img">
                                    <img src="/assets/images/avatar.png" class="img-fluid"> 
                                </div>
                            </div>
                            <div class="col-7">
                                <div class="user-round-text">
                                    <h2>Rakesh Maria<span>9812345678</span><span>pkg@gmail.com</span></h2>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="user-round-toggle">
                                    <a href="profile.html">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="close-div">
                        <button type="submit" class="btn btn-close" onclick="closeNav()"><i class="fa fa-times" aria-hidden="true"></i></button>
                    </div>
                </div>
              </div>
            </div>
        </div>
      </div> 
  </div>
