<section class="sign-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="sign-box">
                    <div class="sign-text">
                        <h1>Sign In</h1>
                        <input type="email" class="e-ph" placeholder="Email or phone number">
                        <input type="password" class="e-ph" placeholder="Password" autocomplete="current-password" required="" id="id_password"> 
                        <i class="fa fa-eye" aria-hidden="true" id="togglePassword" style="margin-left: -30px; cursor: pointer;"></i>
                        <button class="sign-in-btn">Sign In</button> 
                        <div class="row mt-top">
                            <div class="col-md-6 col-6">
                                <label class="container-check">Remember me  
                                  <input type="checkbox">
                                  <span class="checkmark"></span>
                                </label>
                            </div>
                            <div class="col-md-6 col-6">
                                <a href="#" class="nd-help">Need help?</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="lg-facebook">
                                    <img src="images/facebook-icon-img.png" class="img-fluid">
                                    <span class="login-span">Login with Facebook</span>
                                    <p class="new-p-o">New to Netwood? <a href="signup.html"> Sign up now.</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>
